.navigation-menu {
    background-color: #2196f3;
    line-height: 60px;
}

.menu {
    margin-left: 90px;
}

.menu-link {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: 600;
}

.menu-link:hover {
    background-color: white;
    color: black;
}

