.navigation-menu {
    display: flex;
    background-color: #2196f3;
    line-height: 60px;
    justify-content: space-around;
}

.menu-text {
    color: white;
    cursor: pointer;
}

.menu {
    margin-left: 500px;
}

.menu-link {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-weight: 600;
}

.menu-link:hover {
    background-color: white;
    color: black;
}

